<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="InputDir" value=".\input\" />
		<add key="MapFilter" value="*" />
		<add key="CheckSubfolders" value ="true"/> <!-- Whether to check subfolders for input files as well -->
		<add key="OutputDir" value=".\output\"/>
		<add key="CheatPackDir" value=".\CheatPacks\example" /> <!-- The Cheatpack (subfolder name) to inject -->
		<add key="CreateVerificationFiles" value="true" /><!-- Additionally creates JASS verification files for manual verification -->
		<add key="LogLevel" value="DEBUG"/> <!-- Level of logs to display. Values: DEBUG, INFO, WARN, ERROR, OFF-->
	</appSettings>
</configuration>