<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="InGameMode" value="true" />
		<!-- InGameMode Settings -->
		
		<!-- InputDirMode Settings -->
		<add key="InputDir" value=".\input\" />
		<add key="MapFilter" value="*" />
		<add key="CheckSubfolders" value ="true"/>
		
		<!-- General Settings -->
		<add key="OutputDir" value=".\output\"/>
		<add key="LogLevel" value="DEBUG"/> <!-- Level of logs to display. Values: DEBUG, INFO, WARN, ERROR, OFF-->
	</appSettings>
</configuration>